# Secret: креды Postgres/Redis для backend.
apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: todo-app
type: Opaque
stringData:
  POSTGRES_USER: CHANGE_ME
  POSTGRES_PASSWORD: CHANGE_ME
  POSTGRES_DB: todoapp
  POSTGRES_DSN: postgres://CHANGE_ME:CHANGE_ME@postgres-service:5432/todoapp?sslmode=disable

  REDIS_PASSWORD: CHANGE_ME
  REDIS_ADDR: "redis-service:6379"
  REDIS_DB: "0"
